.inlight-logo {
    width: 170px;
    height: 60px;   
}

#menu {
    color: rgba(0, 4, 255, 0.822);
}

#menu:hover {
    color: white;
}


.nav-link:hover{
    background-color: rgba(0, 4, 255, 0.822);
    width: 100px;
    text-align: center;
    border-radius: 10px;
    color: white;
}


#hair-boutique {
    border-radius: 5rem;
    text-align: center;
    margin-top: 2rem;
}

.our-services {
    font-family: 'playfair',serif;
}

.offer-tag {
    font-family: 'playfair',serif;
}

.location {
    font-family: 'playfair',serif;
    color: rgb(0, 80, 0);
}

.nav-link {
    font-size: 1rem;
    font-weight: bold;
    font-family:sans-serif;
}

.insta {
    font-family: 'playfair',serif;
}

.service-desc {
    font-size: larger;
}

.services {
    color:  rgba(0, 2, 141, 0.822);
    margin: 1rem;
    font-family: 'playfair',serif;
}

#view-price {
    color: white;
    background-color: rgba(0, 4, 255, 0.822);
    border-radius: 2rem;
    padding: 1rem;
    margin: 3rem;
}

#view-price2 {
    color: white;
    background-color: black;
    border-radius: 0%;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 1rem;
    font-weight: bold;
}

form {
    background-color: rgba(0, 197, 0, 0.295);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.form-control {
    width: 70%;
    margin: auto;
    margin-top: -1rem;
    border-radius: 1rem;
    border: 1px solid;
}

#Contact {
    background-color: white;
    color:  rgb(0, 0, 14);
    border-radius: 1rem;
    width: 10rem;
    font-weight: bold;
}


html {
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Serif Pro', serif;
}

#copyright {
    font-size: 10px;
}


/* review style */
.review {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 30px;
    border: 3px solid;
    border-color: blue;
    
  }
  .review h3 {
    font-size: 26px;
    margin-top: 0;
    color: green;
    font-weight: bold;
  }
  .review p {
    margin-bottom: 0;
    font-weight: lighter;
  }
  
.ban img{
    height: 14rem;
    border-radius: 2rem;
}

.ban img:hover{
   scale: 1.20;
   transition: 0.2s;
}

