.mr-logo {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;  
    margin-left: 1rem;
}

.row{
    margin-top:5rem;
}

#menu {
    color: yellow;
    font-weight: bold;
}

body{
    background-color: #000;
    color: white;
}

#menu:hover {
    color: black;
}

header{
    background-color: #000;
}

.nav-link:hover{
    background-color: yellow;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    color: black;
    transition: all 0.3s;
    transform: scale(1.1);
}

#car-services{
    width: 22rem;
    height: 30rem;
    border-radius: 5rem;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#view-price{
    background-color: green;
    color: white;
    font-weight: bolder;
    border-radius: 2rem;
}

form {
    background-color: rgba(255, 255, 0, 0.637);
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 5rem;
}

.form-control {
    width: 70%;
    margin: auto;
    margin-top: -1rem;
    border-radius: 1rem;
    border: 1px solid;
}

#Contact {
    background-color: white;
    color:  rgb(0, 0, 14);
    border-radius: 1rem;
    width: 10rem;
    font-weight: bold;
}


html {
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Serif Pro', serif;
}

#copyright {
    font-size: 10px;
    color: grey;
}


/* review style */
.review {
    border: 1px solid;
    padding: 15px;
    margin-bottom: 20px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 30px;
    border: 3px solid;
    border-color: white;
    
  }

  span{
    color: yellow;
  }
  .review h3 {
    font-size: 26px;
    margin-top: 0;
    color: yellow;
    font-weight: bold;
  }
  .review p {
    margin-bottom: 0;
    font-weight: lighter;
  }
 
  .location{
    background-color: rgb(255, 0, 0);
    color: #fff;
    font-weight: bolder;
    border-style: none;
    border-radius: 1rem;
  }

a{
    color: white;
    text-decoration: none;
}

#ban-div{
    overflow: scroll;
    scrollbar-width: none;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

